In [1]:
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
import seaborn as sns

### load datasets

In [2]:
import pandas as pd

In [3]:
df_TOCC = pd.read_csv('../../datasets/TypeOfContractChannel.csv')
df_TOCC[:2]

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0

### 단일 변수

In [4]:
df_TOCC.info()  #object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

In [5]:
df_TOCC.describe(include=object)        # 날짜,지역 =연속형

,type_of_contract,type_of_contract2,channel,datetime,payment_type,product,state,overdue,bank,cancellation
count,51300,51303,51304,51304,51304,51303,51304,51302,48544,51279
unique,2,9,20,101,5,6,4,2,46,2
top,렌탈,Promotion,서비스 방문,2019-10-29,CMS,K1,계약확정,없음,국민은행,정상
freq,46481,15811,15186,817,32825,39134,50350,49112,9901,50372

In [6]:
df_TOCC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51304 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 51304 non-null  int64
 1   type_of_contract   51300 non-null  object
 2   type_of_contract2  51303 non-null  object
 3   channel            51304 non-null  object
 4   datetime           51304 non-null  object
 5   Term               51304 non-null  int64
 6   payment_type       51304 non-null  object
 7   product            51303 non-null  object
 8   amount             51304 non-null  int64
 9   state              51304 non-null  object
 10  overdue_count      51304 non-null  int64
 11  overdue            51302 non-null  object
 12  credit rating      42521 non-null  float64
 13  bank               48544 non-null  object
 14  cancellation       51279 non-null  object
 15  age                40509 non-null  float64
 16  Mileage            40509 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 6.7+ MB

In [10]:
df_TOCC.describe(include = object).clumns # 오류 나중에 확인

NameError: name 'df_TOCC_describe' is not defined

#### 범주형 : 주로 문자 , 항목 으로  구성

In [ ]:
df_TOCC['type_of_contract'].value_counts()

In [ ]:
sns.countplot(data=df_TOCC, X ='type_of_contract')
plt.title('계약 종류')
plt.show()

In [ ]:
df_TOCC['type_of_contract2'].value_counts()

In [ ]:
sns.countplot(data=(data=df_TOCC, X='type_of_contract2',hue='product') # 다변수 일때
plt.show()

In [ ]:
df_TOCC['bank'].value_counts()

In [ ]:
sns.countplot(data=df_TOCC, y='bank')
plt.show()

In [ ]:
# 거래 은행중 상위 7개 확인bank column -> 항목 serise-> index추출->list변환->sling7)
order_list= df_TOCC['bank'].value_counts().index_to_list
df_TOCC['bank'],value_counts().index.to_lise()

In [ ]:
# sns.countplot(data= df_df_TOCC, y='bank
snscountplot(data=df_TOCC, y='bank',order= ['국민은행','롯데카드','BC카드'])
plt.show()

#### 연속형 :범주형  아닌 것

In [ ]:
df_TOCC.describe()

In [ ]:
sns.histplot (data = df_TOCC, x='age',kde= True)
plt.show()

In [ ]:
sns.boxplot(data = df_ TOCC, x= '', kae= '',)

### IQR

In [ ]:
df_TOCC